<template name="addLog">

  <div class="row">
  	<div class="col-md-12">
  		<h1>Add a new api log</h1>
  	</div>
  </div>

  <form>
    <div class="form-group">
      <label>Client Name</label>
      <input type="text" name="client_name" class="form-control" placeholder="Client Name" />
    </div>

    <div class="form-group">
      <label>Endpoint</label>
      <input type="text" name="endpoint" class="form-control" placeholder="Endpoint Called" />
    </div>

    <div class="form-group">
      <label>Result</label>
      <input type="text" name="result" class="form-control" placeholder="Result" />
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Add Api Log</button>
  </form>

  <div class="row">
  	<div class="col-md-12">
  		<a id="btnCustomersList" href="#">Go back to customer list</a>
  	</div>
  </div>

</template>
